<% if logged_in? %>
<h3><a href="entries/new">Write a new entry!</a></h3>
<% end %>

<h2>Entries</h2>

<% @entries.each do |entry| %>
<div class="entry_<%= entry.id %>">
  <%= render partial: '/entries/entry_description', locals: {entry: entry} %>
</div>
<% end %>
