<h2>New Entry</h2>
<% if @errors %>
<%= render "/errors" %>
<% end %>

<form action="/entries" method="post">
  <%= render "/entries/entry_form" %>
  <input type="submit" value="Submit Entry">
</form>
